body{
	overflow-x: hidden;
}

.row{
	padding-left: 15px; 
}

section{
	padding-top: 20px;
	padding-bottom: 40px;
}

.section-titles{
	text-transform: uppercase;
	background-image: linear-gradient(120deg, #f6d365 30%, #fda085 70%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-size: 300%;
	/*border: 1px red solid;*/
	font-weight: 400;	
	margin-bottom: 1%;
}

/*----------- NAVBAR ---------------*/
.icon-bar{
	background-color: #fda085;
	margin-top: 25px;
}

.navbar-fixed-top.scrolled {
  background-color: #fff !important;
  transition: background-color 200ms linear;
}

#navbar-items li a:link, #navbar-items li a:visited{
	color: #969696;
	font-size: 120%;
	text-transform: uppercase;
	font-weight: 500;
	letter-spacing: 0.7px;
	margin-top: 25px;
	margin-left: 20px;
	transition: color 0.2s;
}

#navbar-items li a:active, #navbar-items li a:hover{
	color: #fda085;
	border-bottom: 2px #fda085 solid;
}

/*#navbar-items li a:active:after, #navbar-items li a:hover:after{
	content: ".";
	font-size: 30px;
    display: block;
    margin: 0 auto;
    width: 10%;
}*/

.navbar-brand:link, .navbar-brand:visited{
	position: absolute;
	right: 10%;
	background: -webkit-linear-gradient(45deg,#FF512F 40%,#F09819 60%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-size: 140%;
	text-transform: uppercase;
	font-weight: 900;
	letter-spacing: 1.5px;
	margin-top: 25px;

}

.nav li a:focus, .nav li a:hover {
        text-decoration: none;
        background-color: transparent !important;
}

/*    HERO TEXT       */
.hero-text{
	background-image: linear-gradient(120deg, #f6d365 30%, #fda085 70%);
	opacity: 1.2;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	letter-spacing: 35px;
	font-size: 800%;
	font-weight: 500;
}
.hero-text-small{
	color: #969696;
	letter-spacing: 3px;
	font-size: 110%;
	font-weight: 800;
	text-transform: uppercase;
}

/* HERO BUTTON*/
.hero-button:link, .hero-button:visited{
	background-image: linear-gradient(120deg, #f6d365 30%, #fda085 70%);
	color: #fff;
	font-size: 140%;
	padding: 18px;
	border-radius: 45px;
	transition: background-image 2s;
}
.hero-button:hover, .hero-button:active{
	text-decoration: none;
	background-image: linear-gradient(120deg, #f6d365 40%, #fda085 60%);
}

/*BOTTOM TEXT*/
.bottom-text{
	text-transform: uppercase;
	background-image: linear-gradient(120deg, #f6d365 30%, #fda085 70%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-size: 300%;
	text-align:right;
	/*border: 1px red solid;*/
	font-weight: 400;
}

.question-mark{
	background-image: linear-gradient(120deg, #f6d365 30%, #fda085 70%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-size: 300%;
	font-weight: 400;
}